.grid {
  display: grid;
  gap: 1rem;

  &-item {
    align-self: center;
  }
}

@media (min-width: $md) {
  .grid {
    &--2,
    &--4,
    &--6 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: $lg) {
  .grid {
    &--4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &--3,
    &--6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: $xl) {
  .grid {
    &--6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
