.hero {
  position: relative;
  color: $c-white;
  padding: 8rem 0 5rem;
  text-align: center;
  border-bottom: 4px solid $c-blue;

  em {
    padding: 0.5rem 0.75rem;
    background-color: $c-blue;
    font-style: normal;
    border-radius: $border-radius;
  }

  .grid {
    min-height: 60vh;
  }

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: $md) {
  .hero {
    text-align: start;

    .grid {
      gap: 2rem;

      &-item {
        align-self: center;
      }
    }
  }
}
