.btn {
  padding: 0.75rem 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background-color: $c-purple;
  border-radius: $border-radius;
  color: $c-white;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.25s;

  &:hover {
    background-color: $c-blue;
  }

  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
    background-color: $c-dark-blue;
  }
}
